{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Hello, LEDVANCE!</h1>
<h3>Summary</h3>
<p>This is a small App for simple automation tasks written in Python and using FLASK Framework. Main thought is K(eep) I(t) S(imple) (Stupid). New feature requests are welcome.</p>

<h3>Functions</h3>
<p>Currently there is only the Function active to upload an Excel file wich contains EPREL IDs and language and the tool will genereate the URL for the PIS. You also can download the PIS and even let them be converted to a single file JPG as it is needed e.g. by Amazon when you list products.</p>
{% endblock %}
